# golang
/server/config.yaml
/server/go.mod
/server/go.sum
/server/main.exe
/server/log
/server/docker/data

# antd vue
/web/node_modules
/web/dist
/web/yarn.lock
# Editor directories and files
/.git
/.idea
# Log files

# Other

